/!!bin
/ext
/.vs
/Primitives/obj
/libDepthMapProcessor/obj
Tests/DepthMapProcessorTests/obj
Tests/DepthMapProcessorTests/samples
Tests/VolumeCalculatorTests/obj
Tests/VolumeCalculationRunner/obj
/VolumeCalculatorGUI/obj
/DeviceIntegration/obj
/ExtIntegration/obj
/FrameProviders/obj
/D435FrameProvider/obj
/FrameProcessor/obj
/D435FrameProvider/D435FrameProvider.vcxproj.user
/Tests/DepthMapProcessorTests/DepthMapProcessorTests.vcxproj.user
/VolumeCalculator.sln.DotSettings.user
/libDepthMapProcessor/libDepthMapProcessor.vcxproj.user
/Utils/VersionWriter/obj
/Tools/Build/logs