/!!bin
/ext
/.vs
/Common/obj
/DepthMapProcessor/obj
Tests/DepthMapProcessorTests/obj
Tests/DepthMapProcessorTests/samples
Tests/VolumeCalculatorTests/obj
Tests/VolumeCalculationRunner/obj
/VolumeCalculatorGUI/obj
/FrameProviders/obj
/D435FrameProvider/obj
